@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared Styles */

.display-flex{
  display: flex;
}
.bg-primary{
  background-color: rgba(255, 144, 14, 0.1);
}
.text-accent{
  color: #424242;
}

/* header styles */

/* nav-bar */
.navbar{
  justify-content: space-between;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}